.header {
    display: flex;
    justify-content: start;
    align-items: center;

   > a {
        color: #fff;
        margin: 0 10px;
        transition: color .4s ease-in-out;

        &:hover, &.active {
            color: #c353c3;
        }
    }

    // .active {
    //     color: #c353c3;

    // }
}